<div class="fz-element">
    <h3>{{ getTitle() }}
        <small @click="toggleCollapsed()">(Click to toggle)</small>
    </h3>
    <div v-if="!collapsed">{{ getDescription() }}</div>
    <div v-if="loadedValue">Loaded: {{ loadedValue }}</div>
    <button v-else @click="loadSomething()">
        <span v-if="loading">Loading</span>
        <span v-else>Load something</span>
    </button>
</div>
