<div class="fz-home">
    <input v-model="inputNumberElements"/>
    <button @click="addElementsInput()">Add</button>
    <br><br>"scope apply" if set in return: {{inputNumberElements}}
    <hr>
    <input v-model="inputTitleElements"/>
    <button @click="changeElementTitles()">Change element titles</button>
    <br><br>No "scope apply" if not set in return: {{inputTitleElements}}
    <hr>
    <fz-element
            :description="`This element does not have a title set, so it takes the default from the decorator`"></fz-element>
    <fz-element v-for="element in elements"
                :key="element.id"
                :title="element.title"
                :description="element.description"></fz-element>
    <div class="fz-element">Just a test for the scoped css</div>
</div>
