$fzColorBlue: #3F2664;

.fz-home {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $fzColorBlue;
  margin-top: 60px;
}